@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 1px; /* Corrigido de 1 para 1px */
    box-sizing: border-box; /* Corrigido de "borde box" para "border-box" */
    text-decoration: none; /* Corrigido de "text decoration" para "text-decoration" */
    border: none; /* Adicionado "none" para a propriedade border */
    outline: none; /* Adicionado "none" para a propriedade outline */
}
:root